/* *모달창 중앙 정렬, 최상단 배치 */
.container {
  /* 모달창 최상단 위치 */
  z-index: 999;

  /* 모달창 크기 */
  width: 500px;

  /* 모달창 가운데 정렬 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동 */
  /* translate는 본인의 크기 기준으로 작동 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 UI */
  background-color: #eaf0fd;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-shadow: 5px 5px gray;
  padding: 20px;
}

.title {
  margin: 20px auto 40px auto;
}

.content {
  margin: 60px auto;
}

/* * 모달창 X 버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: bold;
}
